/unity/.DS_Store
/unity/Library
/unity/Temp
/unity/obj
/unity/XCode
/unity/Android
/unity/PC
/unity/Web
/unity/Mac
/unity/ExportedObj
/unity/Assets/FutileDemos/
/unity/*Data/
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.suo
*.exe
*.zip